{% extends 'base1.html' %} {% block title %} Contact {% endblock title %} {% block
    corousel %}
    <section id="hero" class="hero section">
    
    <div class="container">
      <div class="row gy-4">
       
        </div>
    
     
        <div class="container" data-aos="fade-up">
        
            <div class="col-lg-8 order-lg-1">
              <h2 class="text-center">Get in Touch</h2>
              <p class="text-center">We'd love to hear from you! Fill out the form below to get in touch.</p>
              {% include "messages.html" %}
              <form action="/contact" method="post" class="p-4 rounded shadow bg-light">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-3">
                  <input type="email" class="form-control p-3" name="email" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                  <textarea class="form-control p-3" name="desc" rows="5" placeholder="How can we help you?" required></textarea>
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-2">
          <img src="/static/assets/img/contact.jpg" class="img-fluid" alt="Contact Image" style="max-width: 80%; height: auto;">
        </div>
      </section>
    {% endblock corousel %}
    