{% extends 'base.html' %}

{% block title %} Signup {% endblock title %}

{% block corousel %}
<section id="hero" class="hero section" style="background: url('/static/assets/img/backgr.jpg') no-repeat center center/cover; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
  <div class="container">
    <div class="row gy-4 align-items-center">
      
      <!-- <div class="col-md-6 order-2 order-md-1 d-flex justify-content-center">
        <img src="/static/assets/img/book 2.jpg" class="img-fluid animated" alt="Signup Illustration" />
      </div>
         -->
      <div class="col-md-5 order-1 order-md-2 hero-img p-4 bg shadow rounded" style="backdrop-filter: blur(8px); border-radius: 10px;">
        {% include "messages.html" %}
        <h3 class="text-center text-primary">Signup</h3>
        <form action="/signup" method="post" class="mt-3">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          
          <div class="form-group">
            <input class="form-control mb-3 p-3" type="text" name="fname" required placeholder="First Name" />
          </div>
          
          <div class="form-group">
            <input class="form-control mb-3 p-3" type="text" name="lname" required placeholder="Last Name" />
          </div>
          
          <div class="form-group">
            <input class="form-control mb-3 p-3" type="email" name="email" required placeholder="Email Address" />
          </div>
          
          <div class="form-group">
            <input class="form-control mb-3 p-3" type="number" name="mobile" required placeholder="Mobile Number" />
          </div>
          
          <div class="form-group">
            <input class="form-control mb-3 p-3" type="password" name="pass1" required placeholder="Password" />
          </div>
          
          <div class="form-group">
            <input class="form-control mb-3 p-3" type="password" name="pass2" required placeholder="Confirm Password" />
          </div>
          
          <div class="text-center mb-3">
            <a href="/login" class="text-light" style="text-decoration: none; font-weight: bold; transition: 0.3s;">Already have an account?</a>
          </div>
          
          <button class="btn btn-primary w-100" type="submit">Sign Up</button>
        </form>
      </div>
      
    </div>
  </div>
</section>
{% endblock corousel %}
